:root {
	--shading: rgba(0, 0, 0, 0.4);
	--accent: #1a8388;
	--primary-bar: #1f1f1f;
	--primary-bar-shadow: 0 0.4rem 0.4rem var(--shading);
	--primary-text: #f4f4f4;
	--primary-border: 0.1rem solid var(--primary-text);
	--accent-border: 0.4rem solid var(--accent);
}
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	font-family: 'Open Sans', sans-serif;
	/* Background pattern from Toptal Subtle Patterns */
	background-image: url('/assets/escheresque_ste.png');
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'Lato', sans-serif;
}
a {
	color: var(--primary-text);
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
#navbar, #logobar, #pagelinks {
	width: 100%;
	display: flex;
	align-items: baseline;
	justify-content: space-between;
}
#navbar {
	display: flex;
	padding: 3rem;
	background-color: var(--primary-bar);
	box-shadow: var(--primary-bar-shadow);
	border-bottom: var(--accent-border);
}
#navbar a:hover {
	text-decoration: none;
}
#logobar .hamburger {
	display: none;
}
#logobar .hamburger svg {
	fill: var(--primary-text);
}
#pagelinks .link, #pagelinks .button {
	display: block;
	margin: 0 0.8rem;
	padding: 0.2rem 0;
}
#pagelinks .button {
	padding: 0.6rem;
	background-color: var(--accent);
}
#pagelinks .link.active {
	border-bottom: var(--primary-border);
}
@media (max-width: 900px) {
	#navbar {
		flex-direction: column;
		padding: 0;
	}
	#logobar, #pagelinks {
		padding: 1.2rem;
	}
	#logobar .hamburger {
		display: block;
	}
	#pagelinks {
		display: none;
		flex-direction: column;
		background-color: var(--accent);
	}
	#pagelinks.expanded {
		display: block;
	}
	#pagelinks .link.active {
		border-bottom: none;
		border-left: var(--primary-border);
	}
}
