<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<link href="https://fonts.googleapis.com/css2?family=Bitter:wght@700&family=Open+Sans&family=Roboto:wght@900&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="/main.css">
	{% if page.script %}
		<script src="index.js"></script>
	{% endif %}
	{% if page.title %}
		<title>{{ page.title }} | Legacy Builders LLC</title>
	{% else %}
		<title>Legacy Builders LLC</title>
	{% endif %}
</head>
