$colors_shading: rgba(0, 0, 0, 0.4)
$colors_accent: #FFB225
$colors_navbar: #110767
$colors_container: darken($colors_navbar, 10%)
$colors_inverted-container: #DEDEC0
$colors_text: #0C0C0C
$colors_inverted-text: #F4F4F4
$colors_link: lighten($colors_navbar, 50%)
