<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Lato:wght@400;900&family=Open+Sans&display=swap">
		<link rel="stylesheet" href="/main.css">
		<script src="index.js"></script>
		<title>Legacy Builders LLC</title>
	</head>
	<body>
		<header id="navbar">
			<nav id="logobar">
				<a href="/" class="logo"><h1>Legacy Homes</h1></a>
				<a href="#" class="hamburger">{% include hamburger.svg %}</a>
			</nav>
			<nav id="pagelinks">
				{% for link in site.data.navigation %}
					<a class="{{ link.type }}{% if page.url == link.href %} active{% endif %}" href="{{ link.href }}">{{ link.label }}</a>
				{% endfor %}
			</nav>
		</header>
		<main>
			{{ content }}
		</main>
		<footer>

		</footer>
	</body>
</html>

